//generat style
.container {
  width: 1030px;
  margin: 0 auto;
  @media only screen and (max-width: 992px) {
      width: 100%;
      padding: 0px 20px;
}
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: #e1f2ff;
}

.game{
  font-family: 'Poppins', sans-serif;
  color: #2c2a2b;
 .counter{
    margin-top: 20px;
    background-color: white;
    padding: 10px 0px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.01);
    .col-md-6{
      display: flex;
      align-items: center;
      @media only screen and (max-width: 992px) {
        flex-wrap: wrap;
      }
    label{
      margin-right: 10px;
      font-size: 16px;
      font-weight: bold;
        @media only screen and (max-width: 992px) {
          width: 100%;
          margin-bottom: 20px;
        }
        }
    input{
      height: 40px;
      box-sizing: border-box;
      margin-right: 10px;
      background-color: #e1f2ff;
      border: none;
      border-radius: 5px;
      text-align: center;
      font-family: 'Poppins', sans-serif;
    }
    button{
      height: 40px;
      margin-right: 10px;
      border: 1px solid  #1388e5;
      background-color: #1388e5;
      color: white;
      border-radius: 5px;
      padding: 0px 15px;
      box-sizing: border-box;
      &:hover{
        background-color: white;
        border: 1px solid  #1388e5;
        box-sizing: border-box;
        color:  #1388e5;
      }
    }
    }
  
}
.result-content{
  margin-top: 50px;
  .row{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .result{
      font-size: 40px;
      font-weight: bold;
      animation: pulse 1s infinite;
      @keyframes pulse {
        0% {
          color:#2c2a2b;
        }
        100% {
          color:  #1388e5;
        }
      }
    }
  }
}
.main-content{
  margin-top: 50px;
  
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .col-md-3 {
      width: 250px !important;
      height: 300px;
      border-radius: 5px;
      overflow: hidden;
      background-image: linear-gradient(#3bb3e7,#1575c4);
      box-sizing: border-box;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover{
        background-image: linear-gradient(#3bb3e7,#a4c0d6);
      }
      @media only screen and (max-width: 992px) {
        width: 100%;
  }
    }
  }
}


}
.img-style{
  width: 100% !important;
  height: 100% ;
  border-radius: 5px;
  overflow: hidden;
  visibility: hidden;
}